<?xml version="1.0"?>
<configuration>
  <zone name="Living Room">
    <mapping groupAddress="3/7/0" command="play"/>
    <mapping groupAddress="3/7/1" command="pause"/>
    <mapping groupAddress="3/7/2" command="previous2"/>
    <mapping groupAddress="3/7/3" command="next2"/>
    <mapping groupAddress="3/7/4" command="volume+"/>
    <mapping groupAddress="3/7/5" command="volume-"/>
  </zone>
  <zone name="BRisa Media Renderer">
    <mapping groupAddress="3/8/1" command="play"/>
    <mapping groupAddress="3/8/1" command="pause"/>
    <mapping groupAddress="3/8/2" command="previous"/>
    <mapping groupAddress="3/8/3" command="next"/>
    <mapping groupAddress="3/8/4" command="volume+"/>
    <mapping groupAddress="3/8/5" command="volume-"/>
  </zone>
</configuration>
