<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <knx url="ip:famine"/>

  <!-- Global macros -->

  <macro name="morgen">
    <action  command="setURI" param="x-rincon-mp3radio://radio.hiof.no/nrk-petre-128" />
    <action command="volumeSet" param="40" />
    <action command="play" />
  </macro>

  <macro name="allOff">
      <action command="volumeSet" param="25" />
      <action command="pause" />
  </macro>
 
  <!-- Global commands -->

  <mapping groupAddress="3/7/0" command="allOff"/>  <!-- all off address -->
       
       
  <!-- Per-zone configuration -->

  <zone name="Stue">
    <mapping groupAddress="4/0/2" command="play"/>
    <mapping groupAddress="4/0/1" command="pause"/>
    <mapping groupAddress="4/0/0" command="previous"/>
    <mapping groupAddress="4/0/3" command="next"/>
    <mapping groupAddress="4/0/4" command="volume+"/>
    <mapping groupAddress="4/0/5" command="volume-"/>

    <mapping groupAddress="4/0/9" command="morgen"/>
    <mapping groupAddress="4/0/10" command="nested"/>

    <macro name="kveld">
        <action command="P2 radio"/>
        <action command="volumeSet" param="20"/>
    </macro>
    <macro name="nested">
        <action command="morgen"/>
        <action command="kveld"/>
    </macro>
  </zone>

  <zone name="Bad">
    <mapping groupAddress="4/1/2" command="morgen" /> <!-- play -->
    <mapping groupAddress="4/1/1" command="pause"/>
    <mapping groupAddress="4/1/0" command="previous"/>
    <mapping groupAddress="4/1/3" command="next"/>
    <mapping groupAddress="4/1/4" command="volume+"/>
    <mapping groupAddress="4/1/5" command="volume-"/>
  </zone>

  <zone name="Kjøkken">
    <mapping groupAddress="4/2/2" command="play"/>
    <mapping groupAddress="4/2/1" command="pause"/>
    <mapping groupAddress="4/2/0" command="previous"/>
    <mapping groupAddress="4/2/3" command="next"/>
    <mapping groupAddress="4/2/4" command="volume+"/>
    <mapping groupAddress="4/2/5" command="volume-"/>
  </zone>

  <zone name="Terasse">

  </zone>

  <zone name="Uteplass">

  </zone>

</configuration>
